/*

*/

#dialog{
    display: none;
}
#calendar .fc-row>table{
    margin: 0;
}

#add-calendar{
    color: green;
    font-size: 20px;
    margin-left: 5px;
}
#remove-calendar{
    color: red;
    font-size: 20px;
    margin-left: 5px;
}
#admin-select{
    display: inline-block;
}

#widget_calendar{
    cursor: pointer;
}
#widget_calendar .fc-day-header{
    padding: 2px;

}

#widget_calendar  table,
#widget_calendar .fc-toolbar,
#widget_calendar h2{
    margin-bottom: 0px;
}
#widget_calendar .fc-basic-view .fc-body .fc-row{
    min-height: 0;
}
#widget_calendar .fc-day-grid-container{
    height: 100% !important;
}
#widget_calendar table tr td{
    padding: 0;
}
.fa:hover{
    cursor: pointer;
}